html{
    background-color: gray;
}
img{

    margin-left: 950px;

}
.min{
    float: right;
}


h1{
margin-left: 450px;
 }

 p{
     margin-top: 5%;
     position: absolute;
 }

 .MINA{
     margin-right: 5%;
     position: absolute;
     float: left;
 }




